.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.Profile-section {
  text-align: center;
  margin-bottom: 40px;
}

.Profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.Profile-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.Social-logo {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.Social-logo:hover {
  transform: scale(1.2);
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.Project-item {
  margin-bottom: 20px;
}

.Project-link {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}

.Project-link:hover {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Project-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.Project-link:hover .Project-logo {
  transform: scale(1.1);
}

.Project-name {
  font-weight: bold;
  color: #000000;
}

.Project-link:hover .Project-name {
  text-decoration: underline;
}


.Media-section {
  width: 100%;
  max-width: 600px;
  margin-top: 40px;
}

.Media-item {
  margin-bottom: 20px;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.Media-name {
  margin-top: 10px;
  font-weight: bold;
  color: #1a73e8;
}

.Projects-section,
.Products-section,
.Media-section {
  width: 100%;
  max-width: 600px;
}

strong {
  font-weight: bold;
}